<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>fn</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="container" style="min-width: 300px; height: 420px; margin: 0 auto"></div>

<script type="text/javascript">

function doChart(){
    $.get( "log/" , function( data ) {
        // console.log(data)
        chart(data)
    });
}

function chart(data) {
    $('#container').highcharts({
    chart: {
      zoomType: 'x',
      spacingRight: 20
    },
    title: {
      text: 'spline',
    },
    xAxis: {
      type: 'datetime'
    },
    yAxis: {
      title: {
        text: 'Counts'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#666666'
      }],
      floor: 0
    },
    tooltip: {
      shared: true,
      valueSuffix: ''
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
    },
    series: data
  });
}

$(function () {
  doChart();
});


</script>
</body>
</html>
